<p>Lets add a product!</p>

<form action="/save-product">
    <input type="number" placeholder="Enter sku" name="sku">
    <input type="text" placeholder="Enter model!" name="model">
    <input type="text" placeholder="Enter brand!" name="brand">
    <input type="number" placeholder="Enter quantity!" name="quantity">
    <input type="number" step = "any" placeholder="Enter cost!" name="cost">
    <input type="number" placeholder="Enter category id!" name="category_id">
    <input type="number" placeholder="Enter location number!" name="location_id">
    <input type="submit">
  </form>
