<p>Lets add a location!</p>

<form action="/save-location">
  <input type="number" placeholder="Enter The location number!" name="store_num">
  <input type="text" placeholder="Enter the city!" name="city">
  <input type="submit">
</form>