<p>What would you like to add to?</p>

<ul>
  <li><a href="/add-product-form">Add a product</a></li>
  <li><a href="/add-category-form">Add a category</a></li>
  <li><a href="/add-location-form">Add a location</a></li>
</ul>