<h1> What would you like to delete?</h1>


<ul>
  <li><a href="/delete-product">Delete a product</a></li>
  <li><a href="/delete-category">Delete a category</a></li>
  <li><a href="/delete-location">Delete a location</a></li>
</ul>