<h1>Welcome to Inventory managment systems 1.0</h1>

<h2>This is an Inventory magagment system developed by Patrick Carlton.</h2>

<p>How would you like to interact with your database?</p>

<ul>
  <li><a href="/add">Add to the database</a></li>
  <li><a href="/view">View the database</a></li>
  <li><a href="/delete">Delete from the database</a></li>
  <li><a href="/change">Make a change to the database</a></li>
  <li><a href="/surprise">DO NOT PRESS</a></li>






</ul>