<p>What would you like to view?</p>

<ul>
  <li><a href="/view-product">view a product</a></li>
  <li><a href="/view-category">view a category</a></li>
  <li><a href="/view-location">view a location</a></li>
</ul>
